{%macro loopMovieList(movie_list)%}
  {% for movie in movie_list%}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 movies" style="background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.3)), url({{movie.movie_image}})no-repeat top center">

      <div class="movie-group">
        <p> <span class="movie-title">{{movie.movie_title}}</span> <br> <span class="movie-average">{{movie.movie_vote_average}}</span> </p>

      </div>


    </div>
  {%endfor%}

{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}
    {% for review in review_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h2> {{ review.title}} </h2>
        <p> {{ review.review | truncate(30) }}</p>
    </div>
    {% endfor %}
{% endmacro %}
